*::-webkit-input-placeholder
	color: #333
	opacity: 1
*:-moz-placeholder
	color: #333
	opacity: 1
*::-moz-placeholder
	color: #333
	opacity: 1
*:-ms-input-placeholder
	color: #333
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #333
body input:required:valid,
body textarea:required:valid
	color: #333

*,
*::before,
*::after
	box-sizing: border-box
	margin: 0
	padding: 0

// html, body
// 	height: 100%
html
	font-size: 16px
	line-height: 1.15
	min-width: 320px
	font-family: $seg
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	-ms-overflow-style: scrollbar
	-webkit-tap-highlight-color: transparent

@-ms-viewport
	width: device-width

body
	position: relative
	color: #333
	z-index: 1
	// overflow-x: hidden
	min-height: 100vh

main
	overflow: hidden

//Scroll lock
html
	overflow-y: scroll
	&.scroll-locked
		height: 100vh
		position: fixed
		left: 0
		width: 100%
		overflow-x: visible

//PRELOADER
.js-loading
	animation-play-state: paused !important
@keyframes js-loading
	0%
		opacity: 0
	100%
		opacity: 1

ul
	list-style: none

button
	cursor: pointer

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
	// border: none
	-webkit-text-fill-color: #333
	-webkit-box-shadow: 0 0 0px 1000px #fff inset
	transition: background-color 5000s ease-in-out 0s


//CONTAINER WIDTH
.container
	+cont(1170px)

//GRID
[class*="__grid"]
	+grid
[class*="__col"]
	padding-right: 15px
	padding-left: 15px

.hidden
	display: none

//TYPOGRAPHY
h1, .h1
// 

h2, .h2
// 

h3, .h3
// 

p
// 

//Helpers
.color__accent
	color: $accent

//Elements
// 

//Popup
.popup
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 0
	opacity: 0
	background-color: rgba(0,0,0,.7)
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s
	display: flex
	overflow: scroll
	visibility: hidden
	z-index: 9
	perspective: 100vh
	padding: 5px
	will-change: opacity, visibility
	&-visible
		opacity: 1
		visibility: visible
		transition: visibility 0s linear 0s, opacity 0.25s 0s
		.popup__content
			transform: rotateY(0)
.popup__content
	margin: auto
	background-color: #fff
	transition: transform .35s ease
	transform: rotateY(-70deg)
	position: relative
	max-width: 100%
	will-change: transform
.popup__close
	position: absolute
	right: 0
	top: 0
	padding: 10px
	border: none
	background: none
	&:hover, &:active
		svg
			transform: rotate(90deg)
	svg
		display: block
		transition: transform .2s ease
.form__temp
	text-align: center
	&:empty
		display: none