	<footer>
		<div class="container">
			<div class="footer__content">
				<a href="/">© 2015–2017 Экспертная оценка имущества.</a>
				<div class="footer__contacts">
					<a href="mailto:{{ data.email }}">
						{{ svg(33, 33, 'email')}}
						{{ data.email }}
					</a>
					<a href="tel:{{ data.tel }}">
						{{ svg(33, 33, 'tel')}}
						{{ data.tel }}
					</a>
				</div>
				<div class="footer__social">
					<a href="#">{{ svg(33, 33, 'fb')}}</a>
					<a href="#">{{ svg(33, 33, 'yt')}}</a>
					<a href="#">{{ svg(33, 33, 'tg')}}</a>
				</div>
			</div>
		</div>
	</footer>
	<div class="popup__container">
		<div class="popup popup__order">
			<button class="popup-close popup__order-close">
				{{ svg(25, 25, 'close') }}
			</button>
			<div class="popup__order-form">
				{{ form('Заказать', 'popup__order', 'order') }}
			</div>
		</div>
	</div>