	<header>
		<div class="container">
			<div class="header__content">
				<a href="/" class="header__logo">{{ svg(214, 54, 'logo') }}</a>
				<nav class="header__nav">
					<ul>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Цены</a></li>
						<li><a href="/uslugi.html">Услуги</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<a href="tel:{{ data.tel }}" class="header__tel">
					{{ svg(33, 33, 'tel') }}
					{{ data.tel }}
				</a>
				<div class="header__lng">
					<span class="header__lng-change">RU</span>
					<ul>
						<li><a href="#">UA</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>