<!DOCTYPE html>
<html lang="ru" itemscope itemtype="http://schema.org/WebPage">

<head>

	{# SVG Macro #}
	{% macro svg(width='auto', height='auto', name='') %}
		<svg width="{{ width }}" height="{{ height }}">
			<use xlink:href="#{{ name }}"></use>
		</svg>
	{% endmacro %}

	{# FORM Macro #}
	{% macro form(btn='Заказать', name='', class='') %}
		<form data-form="Заказать" name="{{ name }}" action="raketa-api.php" class="typical-form {{ class }}">
			<div class="form__field">
				<label for="order-name">
					<span>Имя</span>
				</label>
				<input type="text" name="name" class="raketa_validation">
			</div>
			<div class="form__field">
				<label for="order-phone">
					<span>Телефон</span>
				</label>
				<input type="tel" name="phone" class="user_phone raketa_validation" placeholder="+38(___) ___-__-__" required="">
			</div>
			<div class="form__btn">
				<button type="submit" class="btn">{{ btn }}</button>
				<p class="form_msg"></p>
			</div>
		</form>
	{% endmacro %}

	{% include "./_meta.html" %}

	<!-- HEADER CSS START -->
	

	{% if build == 'dev' %}
		<style>{% include "../css/header.css" %}</style>
	{% else %}
		<style>{% include "../css/header.min.css" %}</style>
	{% endif %}


	<!-- HEADER CSS END -->

</head>

<body >

	<!--HIDE CONTENT BEFORE PAGE LOADED START-->
	<script>
		document.body.className += " js-loading";
		window.addEventListener("load", removeLoadingClass, false);
		function removeLoadingClass() {
			document.body.className = document.body.className.replace("js-loading", "");
		}
	</script>
	<!--HIDE CONTENT BEFORE PAGE LOADED END-->

	<!-- SVG SPRITE START-->
	<div style="height: 0; width: 0; position: absolute; visibility: hidden">
		{% include "../img/svg-sprite/sprite/symbol/svg/sprite.symbol.svg" %}
	</div>
	<!-- SVG SPRITE END-->

	<!-- HEADER START -->
	{% include "./_header.html" %}
	<!-- HEADER END -->

	<!-- MAIN START -->
	{% block content %}{% endblock %}
	<!-- MAIN END -->

	<!-- FOOTER START -->
	{% include "./_footer.html" %}
	<!-- FOOTER END -->

	<!-- POPUP START -->
	{% include "./_popup.html" %}
	<!-- POPUP END -->
	
	
	{% if build == 'dev' %}
		<link rel="stylesheet" href="css/style.css">
		<script src="js/libs.js"></script>
		<script src="js/scripts.js"></script>
	{% else %}
		<link rel="stylesheet" href="css/style.min.css">
		<script src="js/scripts.min.js"></script>
	{% endif %}

</body>
</html>