/* WE START */
.we {
  padding-top: 0;
  text-align: center; }
  .we .container {
    position: relative;
    z-index: 2; }
  .we h1 {
    margin-top: .9em;
    margin-bottom: 0.56em; }
  .we .btn {
    margin-bottom: 57px; }

.we__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

.we__col {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100%; }

.we__col-content {
  box-shadow: 0 5px 20px rgba(44, 49, 60, 0.15);
  border-radius: 20px 5px;
  border: 1px solid rgba(101, 109, 116, 0.1);
  background-color: #ffffff;
  padding: 20px 15px 28px; }
  .we__col-content svg {
    margin-bottom: 8px; }

/* WE END */
/* NEEDED START */
.needed {
  padding-top: 90px; }

.needed__is {
  display: flex; }
  .needed__is img {
    box-shadow: 0 5px 20px rgba(44, 49, 60, 0.15);
    border-radius: 20px 5px;
    position: relative;
    z-index: 2;
    align-self: flex-start; }

.needed__is-content {
  border-radius: 20px 5px;
  border: 1px solid rgba(101, 109, 116, 0.1);
  margin-top: 58px;
  margin-left: -33px;
  padding-left: 78px;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px; }
  .needed__is-content h2, .needed__is-content .h2 {
    text-align: left;
    margin-bottom: 15px;
    line-height: 1;
    font-size: 3em;
    position: relative; }
    .needed__is-content h2:before, .needed__is-content .h2:before {
      display: block;
      content: "";
      position: absolute;
      width: 65px;
      height: 4px;
      background-color: #333333;
      border-radius: 2px;
      top: 50%;
      margin-top: -1px;
      left: -13%;
      z-index: 3; }
  .needed__is-content p {
    font-size: 1.5em;
    line-height: 1.5; }

.needed-often {
  padding-top: 104px; }
  .needed-often h2 {
    margin-bottom: 48px; }

.needed {
  padding-bottom: 50px; }
  .needed .needed-often__grid {
    align-content: stretch;
    justify-content: center; }

.needed-often__col {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100%;
  margin-bottom: 30px; }

.needed-often__content {
  text-align: center;
  height: 100%;
  padding: 35px 15px 48px;
  border-radius: 20px 5px;
  border: 1px solid #edeeef;
  transition: box-shadow .2s ease, border-color .2s ease;
  margin-bottom: auto; }
  .needed-often__content:hover, .needed-often__content:active {
    box-shadow: 0 5px 20px rgba(44, 49, 60, 0.15);
    border-color: #fff; }
  .needed-often__content svg {
    margin-bottom: 10px; }
  .needed-often__content p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.25em; }

/* NEEDED END */
/* TYPES START */
.types {
  padding-bottom: 70px; }
  .types h2, .types .h2 {
    margin-bottom: 28px; }
  .types p {
    text-align: center;
    line-height: 1.47; }
  .types .types__grid {
    justify-content: center;
    margin: 0;
    padding-top: 53px;
    margin-bottom: 38px; }
  .types .types__col {
    flex-grow: 1;
    text-align: center;
    padding: 0; }
    .types .types__col:last-child .types__content {
      border-right-width: 1px; }
    .types .types__col:hover .types__content {
      box-shadow: 0 5px 30px rgba(44, 49, 60, 0.25);
      border-color: #fff; }
    .types .types__col:hover + .types__col .types__content {
      border-left-color: #fff; }
  .types .types__content {
    border: 1px solid rgba(101, 109, 116, 0.1);
    border-right-width: 0;
    padding: 34px 10px 50px;
    transition: box-shadow .25s ease, border-color .25s ease; }

.types__full {
  text-align: center;
  display: block;
  font-size: 1.25em;
  color: #008250;
  font-family: "Roboto", sans-serif; }

/* TYPES END */
/* ORDER START */
.order {
  padding-bottom: 40px; }
  .order h2 {
    margin-bottom: 48px; }

.order__grid {
  counter-reset: order; }

.order__col {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100%;
  counter-increment: order; }
  .order__col:nth-child(even) {
    padding-top: 68px; }
    .order__col:nth-child(even) .order__img {
      order: 3; }

.order__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 30px; }
  .order__content .h3, .order__content h3 {
    max-width: 250px;
    margin-bottom: 18px; }
  .order__content p {
    margin-bottom: 20px; }

.order__img {
  text-align: right;
  position: relative;
  margin-bottom: 33px; }
  .order__img:before {
    display: block;
    content: "";
    position: absolute;
    width: 91px;
    height: 111px;
    box-shadow: 0 5px 10px rgba(44, 49, 60, 0.15);
    background-color: #eff0f1;
    top: 45px;
    left: -15px;
    content: counter(order);
    font-size: 80px;
    color: #333333;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 115px;
    z-index: 3; }
  .order__img:after {
    display: block;
    content: "";
    position: absolute;
    width: 91px;
    height: 111px;
    left: -31px;
    top: 29px;
    background: url("../img/pattern.svg") repeat 0 0;
    background-size: 4px; }
  .order__img img {
    box-shadow: 0 5px 20px rgba(44, 49, 60, 0.15);
    border-radius: 20px 5px;
    position: relative;
    z-index: 2; }

/* ORDER END */
/* TARGET START */
.target {
  padding-bottom: 80px; }
  .target h2 {
    margin-bottom: 26px; }
    .target h2 + p {
      text-align: center; }

.target__grid {
  padding-top: 90px; }

.target__col {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100%; }
  .target__col p.h3 {
    position: relative;
    margin-bottom: 10px; }
    .target__col p.h3:before {
      display: block;
      content: "";
      position: absolute;
      width: auto;
      height: auto;
      content: attr(data-shadow);
      font-size: 48px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      z-index: -1;
      color: #eff0f1;
      left: 0;
      top: -32px; }

/* TARGET END */
/* DOCS START */
.docs {
  padding-top: 66px; }
  .docs h2 {
    margin-bottom: 24px; }
    .docs h2 + p {
      text-align: center; }

.docs__grid {
  padding-top: 54px; }

.docs__col {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100%; }
  .docs__col h3, .docs__col .h3 {
    text-align: center;
    max-width: 282px;
    margin: 0 auto; }
  .docs__col:nth-child(even) .docs__img:before {
    top: auto;
    bottom: 0; }

.docs__img {
  position: relative;
  margin-bottom: 36px;
  border-radius: 20px 5px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(44, 49, 60, 0.15); }
  .docs__img img {
    border-radius: 20px 5px;
    width: 100%;
    height: auto;
    display: block; }
  .docs__img:before {
    display: block;
    content: "";
    position: absolute;
    width: 80%;
    height: 6px;
    background-color: #69aa55;
    top: 0;
    right: 0; }

/* DOCS END */
.typical-form {
  width: 441px;
  max-width: 100%;
  box-shadow: 0 5px 30px rgba(58, 83, 53, 0.25);
  border-radius: 20px 5px;
  background-color: #ffffff;
  padding: 60px 15px; }
  .typical-form .form__field, .typical-form .form__btn {
    max-width: 312px;
    margin-right: auto;
    margin-left: auto;
    display: block; }
  .typical-form input {
    border: 2px solid #edeeef;
    height: 49px;
    padding: 13px;
    background-color: #ffffff;
    border-radius: 7px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
    transition: border-color .25s ease; }
    .typical-form input:focus, .typical-form input:active {
      border-color: #69aa55;
      outline: none; }
  .typical-form .form__field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px; }
    .typical-form .form__field.raketa_error input {
      border-color: #dba1ae; }
    .typical-form .form__field.raketa_success input {
      border-color: #69aa55; }
  .typical-form .form__btn {
    margin-top: 46px; }
    .typical-form .form__btn .btn {
      width: 100%;
      max-width: 100%; }

/*  START */
/*  END */
/*  START */
/*  END */
/*  START */
/*  END */
@media only screen and (max-width: 950px) {
  /**/ }
