{% set data = {
	title: 'Title of my awesome website',
	description: 'Description of my awesome website',
	url: 'https://ocenka.lexstatus.com.ua/',
	keywords: 'my, website, is, awesome',
	themeColor: '#69aa55',
	tel: '(067) 462-30-00',
	email: 'ocenka.lexstatus@gmail.com'
} %}

{% set orders = [{
		img: 'img/order.jpg',
		title: 'Оставьте заявку на сайте или позвоните <a href="tel:{{ +'+  data.tel + ' }}" class="link__tel">'+  data.tel + '</a>',
		descr: 'Мы уточним детали заказа, расскажем о нужных документах и назовем точные сроки и  стоимость оценки имущества.'
	},{
		img: 'img/done.jpg',
		title: 'Приезжайте в один из 26 офисов, чтобы передать документы',
		descr: 'Или отправьте их в электронном виде. Список документов индивидуален и зависит от вида оценки имущества.'
	},{
		img: 'img/visit.jpg',
		title: 'Отчет по оценке будет готов через час',
		descr: 'Вы можете забрать его в офисе или бесплатно получить Новой Почтой. Мы также отправим электронную версию отчета на ваш e-mail.'
}] %}

{% set usefulls = [{
		icon: 'ic-10',
		title: 'Оценка <br>автомобиля'
	},{
		icon: 'ic-09',
		title: 'Оценка <br>дома'
	},{
		icon: 'ic-18',
		title: 'Оценка <br>квартиры'
	},{
		icon: 'ic-17',
		title: 'Оценка <br>дачи'
	},{
		icon: 'ic-19',
		title: 'Оценка <br>коттеджа'
	},{
		icon: 'ic-24',
		title: 'Оценка <br>промышленных <br>объектов'
	},{
		icon: 'ic-23',
		title: 'Оценка <br>интеллектуальной <br>собственности'
	},{
		icon: 'ic-21',
		title: 'Оценка <br>транспортных <br>средств'
	},{
		icon: 'ic-20',
		title: 'Оценка <br>рыночной <br>арендной платы'
	},{
		icon: 'ic-22',
		title: 'Оценка <br>коммерческой <br>недвижимости'
	},{
		icon: 'ic-11',
		title: 'Оценка <br>земельного участка'
	},{
		icon: 'ic-12',
		title: 'Оценка <br>спецтехники'
}] %}

{% set trusts = [{
		url: 'zs',
		alt: 'Запорожсталь'
	},{
		url: 'kws',
		alt: 'KWS'
	},{
		url: 'no',
		alt: 'НОТЕХС'
	},{
		url: 'metro',
		alt: 'Киевский метрополитен'
	},{
		url: 'up',
		alt: 'Укрпластик'
	},{
		url: 'cz',
		alt: 'Будівельна компанія «Спілка забудовників»'
	},{
		url: 'shokolad',
		alt: 'Житловий будинок Шоколад'
	},{
		url: 'kws',
		alt: 'KWS'
	},{
		url: 'metro',
		alt: 'Киевский метрополитен'
	},{
		url: 'no',
		alt: 'НОТЕХС'
	},{
		url: 'shokolad',
		alt: 'Житловий будинок Шоколад'
	},{
		url: 'up',
		alt: 'Укрпластик'
}] %}

{% set quicklys = [{
		icon: 'ic-27',
		text: 'перезвоним <br>в&nbsp;течении 10&nbsp;минут ' 
	},{
		icon: 'ic-28',
		text: 'сделаем <br>стандартный отчет об оценке за 60 минут' 
	},{
		icon: 'ic-26',
		text: 'отправим вам электронную версию отчета' 
	},{
		icon: 'ic-25',
		text: 'бесплатно доставим документы Новой&nbsp;Почтой' 
}] %}

{% extends "templates/_layout.html" %}

{% block content %}

<main>

	<section class="services">
		<div class="container">
			<h1>Услуги</h1>
			<div class="services__content">
				<img src="img/services.jpg" alt="Услуги по оценке">
				<div class="services__content-text">
					<p>Компания LexStatus работает на рынке экспертной оценки имущества уже 16 лет. Наши специалисты оценили сотни тысяч квартир и домов, помогли продать тысячи автомобилей и земельных участков, работали с оценкой уникального оборудования и интеллектуальной собственности. </p>
				</div>
			</div>
		</div>
	</section>

	<section class="usefull">
		<div class="container">
			<h2>Мы будем полезны, если вам нужна:</h2>
			<div class="usefull__grid">
				{% for usefull in usefulls %}
					<div class="usefull__col">
					{{ svg(147, 141, usefull.icon) }}
					<p class="h3">{{ usefull.title | safe }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="order services">
		<div class="container">
			<h2>Как заказать оценку имущества</h2>
			<div class="order__grid">
				{% for order in orders %}
					<div class="order__col">
						<div class="order__content">
							<div class="order__img">
								<img src="{{ order.img }}" alt="{{ order.title }}">
							</div>
							<h3 class="h3">{{ order.title | safe }}</h3>
							<p>{{ order.descr }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="trust">
		<div class="container">
			<h2>Нам доверяют</h2>
			<div class="trust__grid">
				{% for trust in trusts %}
					<div class="trust__col">
						<img src="img/{{ trust.url }}.jpg" alt="{{ trust.alt }}">
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="quickly">
		<div class="container">
			<p class="h3 quickly__question">Срочно нужна экспертная оценка?</p>
			<h2>Оставьте заявку — и мы:</h2>
			<div class="quickly__grid">
				{% for quickly in quicklys %}
					<div class="quickly__col">
						{{ svg(147, 141, quickly.icon) }}
						<p>{{ quickly.text | safe}}</p>
					</div>
				{% endfor %}
			</div>
			<button class="btn popup__order-show">ЗАКАЗАТЬ ОЦЕНКУ ИМУЩЕСТВА</button>
		</div>
	</section>

</main>


{% endblock %}